@model IFATC_PROYECT.Models.RegisterViewModel

<h2>Register</h2>

<form asp-action="Register" method="post">
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserRole"></label>
        <select asp-for="UserRole" class="form-control">
            <option value="Admin">Admin</option>
            <option value="Trainer">Trainer</option>
            <option value="Trainee">Trainee</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
